.logo-outer {
  align-items: center;
  background: hsl(210deg 100% 42%);
  block-size: 10rem;
  clip-path: polygon(0 0, 0 85%, 50% 100%, 100% 85%, 100% 0);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  inline-size: 5rem;
  margin-block-start: -1.5rem;
  margin-inline-start: 1rem;
}

.logo-book {
  background: hsl(0 0% 0%);
  block-size: 3rem;
  border-start-start-radius: 0.4rem;
  border-end-start-radius: 0.4rem;
  position: relative;
  inline-size: 2.5rem;

  &::before {
    background: hsl(210deg 100% 55%);
    block-size: 1rem;
    content: '';
    clip-path: polygon(0 0, 0 100%, 50% 85%, 100% 100%, 100% 0);
    inline-size: .5rem;
    position: absolute;
    top: 0.125rem;
    right: 0.25rem;
  }

  &::after {
    background: hsl(0 0% 100%);
    content: '';
    border-start-start-radius: .3rem;
    border-end-start-radius: .3rem;
    block-size: .6rem;
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
  }
}

.logo-text {
  color: hsl(0 0% 100%);
  display: flex;
  flex-flow: wrap;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 0.9;
  margin-block-end: 1.5rem;
}
