<figure class="figure-container" spellcheck="false">
  <div class="figure-container__inner"> <!-- custom element -->
    <div class="example">
      <style class="example-styles"></style>
      <h3 class="example-title"></h3>
      <div class="example-code"></div>
    </div>
    <div class="code-wrapper">
        <pre class="language-html">
          <button type="button" class="btn-copy-code"><span class="screen-reader-text">Kopieer de code</span></button>
          <code class="example-html" onpaste="return false"></code>
        </pre>
      <pre class="language-css">
          <button type="button" class="btn-copy-code"><span class="screen-reader-text">Kopieer de code</span></button>
          <code class="example-css"></code>
        </pre>
    </div>
    <div class="actions">
      <label class="code-edit__label">Bewerken
        <input type="checkbox">
        <span class="code-edit__slider"></span>
        <span class="code-edit__thumb"></span>
      </label>
      <button type="button" class="btn-reset-code">Herstellen</button>
    </div>
  </div>
  <figcaption>
    <span class="caption-number"></span><span class="caption-text"></span>
  </figcaption>
</figure>
