.links-container {
  container-type: inline-size;
  margin-block-end: 4rem;
}


h3 {
  font-size: 1.4rem;
  margin-block-end: 0.5em;
}

//Moet multi-column worden
.links-list {
  --columns: 1;

  @container (width > 500px) {
    --columns: 2;
  }

  @container (width > 900px) {
    --columns: 3;
  }

  column-count: var(--columns);
  list-style: none;
  margin: 0;
  padding: 0;

  a:any-link {
    color: inherit;
  }

  li + li {
    margin-block-start: 0.5em;
  }
}
