<div class="content-wrapper" id="main-content top">
  <article>
    <h2>Introductie</h2>
    <p>Deze pagina geeft toegang tot voorbeelden uit het boek (vanaf de zesde editie). De voorbeelden bestaan meestal uit korte stukjes HTML, CSS of beide. Schakel de bewerkmodus in en pas de code aan. Het resultaat ziet u direct in de weergave boven de code. U kunt code veranderen, verwijderen en toevoegen, maar u kunt niet plakken.</p>
    <p>Met de kopieerknop maakt u op elk gewenst moment een kopie van de code naar het klembord voor gebruik in uw editor.</p>
    <p>Voorbeelden bij de vijfde editie en ouder vindt u bij de <a class="link-text" routerLink="/downloads">downloads.</a></p>
    <h3>Links uit het boek</h3>
    <p>U vindt hier ook alle links uit het boek, verzameld per hoofdstuk en in dezelfde volgorde als in het boek.</p>
    <h3>Complete pagina's</h3>
    <p>Sommige technieken staan op een eigen pagina. Dat zijn:</p>
    <ul role="list">
      <li>
        <a class="link-text" href="https://handboek-html-css.nl/form-aanmelden.php">Een compleet aanmeldingsformulier met verwerking op de server</a>
      </li>
      <li>
        <a class="link-text" href="https://handboek-html-css.nl/nos_voorbeeld.html">CSS Grid Layout (voorbeeld voorpagina nos.nl)</a>. De complete
        <a class="link-text" href="https://github.com/peterdoolaard/nos-grid-voorbeeld">code voor deze pagina</a> kunt u downloaden van GitHub.
      </li>
    </ul>
<!--    <h3>Fouten en verbeteringen</h3>-->
    <h3>Contact</h3>
    <p>Voor vragen of bij problemen mailt u
      <a class="link-text" href="mailto:reacties@handboek-html-css.nl">reacties@handboek-html-css.nl</a></p>
  </article>

<form
  class="form"
  [formGroup]="formGroup"
>
    <label class="form-label" for="chapter-select">Kies een hoofdstuk</label>
      <select
        id="chapter-select"
        class="form-select"
        formControlName="selectedHoofdstuk"
        (change)="findChapter()"
      >
        <option
          *ngFor="let hoofdstuk of chapters$ | async"
          [ngValue]="hoofdstuk.hoofdstukNummer"
        >
          Hoofdstuk {{ hoofdstuk.hoofdstukNummer }} - {{ hoofdstuk.hoofdstukTitel }}
        </option>
      </select>
</form>
</div>

<app-hoofdstuk />
