.form {
  grid-column: 1 / span 2;
}

.form-label {
  font-size: 1.17em;

  @media (min-width: 700px) {
  align-items: center;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: minmax(min-content, 250px) 1fr;
  justify-content: space-between;
  }
}

.form-select {
  appearance: none;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Ik00ODAtMzQ0IDI0MC01ODRsNTYtNTYgMTg0IDE4NCAxODQtMTg0IDU2IDU2LTI0MCAyNDBaIi8+PC9zdmc+') no-repeat right;
  font-family: inherit;
  font-size: 1rem;
  max-inline-size: 100%;
  overflow: hidden;
  padding: 4px 8px;
  position: relative;
  text-overflow: ellipsis;
}
