.chapter-wrapper {
  position: relative;
  margin-block-start: 2rem;
  min-block-size: 100vh;
}

@media screen and (min-width: 1324px) {
  .chapter-wrapper {
    align-content: start;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1024px minmax(300px, 1fr);
  }
}

.chapter-main {
  grid-column: 1 / 2;
  grid-row: 2;
  margin-block-end: 2rem;
  padding-inline: 1rem;
}

.chapter-aside {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-block-start: 2rem;
  padding-inline-start: 1rem;
}

@media screen and (min-width: 1024px) {
  .chapter-aside {
    margin-block-start: 1.5rem;
    padding-inline-start: 0;
  }
}

.chapter-title {
  grid-column: 1 / -1;
  font-size: calc(var(--font-size-base) + 150%);
  font-weight: 400;
  hyphens: manual;
  word-break: break-word;
}

.chapter-title__number {
  background: hsl(0 0% 80%);
  color: white;
  display: inline-block;
  font-size: 150%;
  font-weight: 700;
  line-height: 1;
  margin-inline: -0.08em 0.1em;
  padding-inline: 0.2em;
  text-align: center;
}

.chapter-aside__heading:not(:first-child) {
  margin-block-start: 1rem;
}

.chapter-aside p {
  max-inline-size: 65ch;
}
