aside {
  background-color: rgba(200, 100, 100, .5);
  block-size: 450px;
  inline-size: 300px;
  margin-right: 1em;
  overflow-y: auto;
  padding: 0 1em;
}

h2 {
  background-color: rgba(200, 100, 100, 1);
  margin: 0;
  position: sticky;
  top: 0;
}

article {
  margin-block-start: 2em;
}

article:last-of-type {
  margin-block-end: 100vh;
}
