article {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}
h2 {
  clear: both;
  margin-top: 0;
}
p {
  line-height: 1.25;
  margin: 0;
}
img {
  float: left;
  height: auto;
  margin: 0 1em 1em 0;
  max-width: 25%;
}
article:nth-of-type(2) img {
  float: right;
  margin: 0 0 1em 1em;
}
