ul {
  /* reset de lijstopmaak */
  list-style: none;
  margin: 0;
  padding: 0;

  /* stel flexbox in */
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  ul {
    flex-flow: row;
  }
}

li {
  color: black;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

li:hover {
  color: deeppink;
}



