div:is(.rgb, .hsl, .hwb, .oklab, .oklch) {
  display: grid;
  grid-auto-rows: 100px;
  grid-row-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  inline-size: 100%;
  margin-block-start: 2em;
  place-items: center;

  & span {
    color: white;
  }
}

.rgb {
  background: linear-gradient(to right, rgb(35 70 105), rgb(35 70 105) 33%, rgb(85 120 155) 33%, rgb(85 120 155) 66%, rgb(135 170 205) 66%, rgb(135 170 205) 100%);
}

.hsl {
  background: linear-gradient(to right, hsl(210deg 50% 27.45%), hsl(210deg 50% 27.45%) 33%, hsl(210deg 29.17% 47.06%) 33%, hsl(210deg 29.17% 47.06%) 66%, hsl(210deg 41.18% 66.67%) 66%, hsl(210deg 41.18% 66.67%) 100%);
}

.hwb {
  background: linear-gradient(to right, hwb(210deg 13.72% 58.83%), hwb(210deg 13.72% 58.83%) 33%, hwb(210deg 33.33% 39.21%) 33%, hwb(210deg 33.33% 39.21%) 66%, hwb(210deg 52.94% 19.6%) 66%, hwb(210deg 52.94% 19.6%) 100%);
}

.oklab {
  background: linear-gradient(to right, oklab(0.39 -0.02 -0.07), oklab(0.39 -0.02 -0.07) 33%, oklab(0.56 -0.02 -0.06) 33%, oklab(0.56 -0.02 -0.06) 66%, oklab(0.72 -0.02 -0.06) 66%, oklab(0.72 -0.02 -0.06) 100%);
}

.oklch {
  background: linear-gradient(to right, oklch(0.39 0.07 250.24), oklch(0.39 0.07 250.24) 33%, oklch(0.56 0.07 249.13) 33%, oklch(0.56 0.07 249.13) 66%, oklch(0.72 0.06 248.75) 66%, oklch(0.72 0.06 248.75) 100%);
}

