.container-grid {
  position: relative;
  height: 650px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-auto-rows: 50px;
  margin: 50px 0;
}

.grid > div {
  border: 1px solid grey;
}

div[class$="box"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 100px;
  padding: 50px;
  margin: 50px;
  border: 25px solid black;
  background-color: white;
}

.border-box {
  top: 0;
  box-sizing: border-box;
}

.content-box {
  bottom: 0;
  box-sizing: content-box;
}

.border-box p,
.content-box p {
  margin: 0;
}

