<div #pageWrapper class="page-wrapper">
<!--  <a class="screen-reader-text" [routerLink]="[currentUrl]" [fragment]="'main-content'">Naar de hoofdinhoud</a>-->
  <app-header />
  <app-navigation />
  <main class="main-content" id="main-content" tabindex="-1">
    <router-outlet></router-outlet>
  </main>
</div>
<a #toTop (click)="scrollToTop($event)" aria-label="Omhoog" class="to-top" href="#">
  <svg class="icon-cheveron-up-circle" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <circle class="primary" cx="12" cy="12" r="10"></circle>
    <path class="secondary" d="M8.7 13.7a1 1 0 1 1-1.4-1.4l4-4a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1-1.4 1.4L12 10.42l-3.3 3.3z"></path>
  </svg>
</a>
