<div class="page-wrapper" #pageWrapper>
  <app-header />
  <app-navigation />
  <div class="content-wrapper">
    <main class="main-content" tabindex="0">
      <router-outlet></router-outlet>
    </main>
  </div>
  <a href="#" class="to-top" aria-label="Omhoog" #toTop (click)="scrollToTop($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-cheveron-up-circle">
      <circle cx="12" cy="12" r="10" class="primary"></circle>
      <path class="secondary" d="M8.7 13.7a1 1 0 1 1-1.4-1.4l4-4a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1-1.4 1.4L12 10.42l-3.3 3.3z"></path>
    </svg>
  </a>
</div>
