<ng-container *ngIf="(codeExamples$ | async) as examples">
  <ng-container *ngIf="examples.length > 0; else geenVoorbeelden">
    <ng-container>
      <figure
        *ngFor="let example of examples"
        class="figure-container"
        spellcheck="false"
      >
        <header class="figure-header">
          <h3 class="example-title">{{ example.hoofdstukNummer }}.{{ example.codeNummer }} &mdash; {{ example.codeTitel }}</h3>
          <button
            #toggleCollapsedExpanded
            (click)="toggleExample(figureContainerInner)"
            (pointerdown)="downEffect($event)"
            (pointerup)="upEffect($event)"
            class="figure-toggle-button"
          >
            <span *ngIf="figureContainerInner.classList.contains('__expanded');else uitVouwen">Invouwen</span>
            <ng-template #uitVouwen>
              <span>Uitvouwen</span>
            </ng-template>
          </button>
        </header>
        <div
          #figureContainerInner
          class="figure-container__inner"
        >
          <code-example-view
            [btnReset]="btnReset"
            [codeWrapper]="codeWrapper"
            [exampleCss]="exampleCss"
            [exampleHtml]="exampleHtml"
            [example]="example"
            [toggleEdit]="toggleEdit"
          ></code-example-view>
          <div class="actions">
            <label class="code-edit__label">Bewerken&nbsp;
              <span *ngIf="!toggleEdit.checked">inschakelen</span>
              <span *ngIf="toggleEdit.checked">uitschakelen</span>
              <input #toggleEdit type="checkbox">
              <span class="code-edit__slider"></span>
              <span class="code-edit__thumb"></span>
            </label>
            <button #btnReset class="btn-reset-code" hidden type="button">Code herstellen</button>
          </div>
          <div #codeWrapper class="code-wrapper">
            <pre class="language-html">
              <button>HTML invouwen</button>
              <code
                #exampleHtml
                class="example-html"
              ></code>
              <button
                (click)="copyCode($event)"
                (pointerdown)="addEffect($event)"
                (pointerup)="removeEffect($event)"
                class="btn-copy-code copy-html"
                type="button"
              >
                <span class="screen-reader-text">Kopieer de code</span>
              </button>
            </pre>
            <pre class="language-css">
              <code
                #exampleCss
                class="example-css"
              ></code>
              <button
                (click)="copyCode($event)"
                (pointerdown)="addEffect($event)"
                (pointerup)="removeEffect($event)"
                class="btn-copy-code copy-css"
                type="button"
              >
                <span class="screen-reader-text">Kopieer de code</span>
              </button>
            </pre>
          </div>
        </div>
      </figure>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #geenVoorbeelden>
  <figure class="figure-container" spellcheck="false">
    <div class="figure-container__inner"> <!-- custom element -->
      <div class="example">
        <h3 class="example-title">Er zijn geen voorbeelden beschikbaar</h3>
      </div>
    </div>
  </figure>
</ng-template>
