<ng-container *ngIf="(codeExamples$ | async) as examples">
  <ng-container *ngIf="examples.length > 0; else geenVoorbeelden">
    <ng-container >
      <figure *ngFor="let example of examples"
        class="figure-container" spellcheck="false">
        <div class="figure-container__inner"> <!-- custom element -->
          <h3 class="example-title">{{ example.hoofdstukNummer }}.{{ example.codeNummer }} &mdash; {{ example.codeTitel }}</h3>
          <code-example-view
            [example]="example"
            [exampleHtml]="exampleHtml"
            [exampleCss]="exampleCss"
            [codeWrapper]="codeWrapper"
            [toggleEdit]="toggleEdit"
            [btnReset]="btnReset"
          ></code-example-view>
          <div #codeWrapper class="code-wrapper">
            <pre class="language-html">
              <code
                #exampleHtml
                class="example-html"
              ></code>
              <button class="btn-copy-code copy-html" type="button"><span class="screen-reader-text">Kopieer de code</span></button>
            </pre>
            <pre class="language-css">
              <code
                #exampleCss
                class="example-css"
              ></code>
              <button class="btn-copy-code copy-css" type="button"><span class="screen-reader-text">Kopieer de code</span></button>
            </pre>
          </div>
          <div class="actions">
            <label class="code-edit__label">Bewerken
              <input type="checkbox" #toggleEdit>
              <span class="code-edit__slider"></span>
              <span class="code-edit__thumb"></span>
            </label>
            <button #btnReset class="btn-reset-code" type="button">Herstellen</button>
          </div>
        </div>
      </figure>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #geenVoorbeelden>
  <figure class="figure-container" spellcheck="false">
    <div class="figure-container__inner"> <!-- custom element -->
      <div class="example">
        <h3 class="example-title">Er zijn geen voorbeelden beschikbaar</h3>
      </div>
    </div>
  </figure>
</ng-template>
