<section id="main-content">
  <h2 class="inleiding-kop">Downloads oude edities</h2>
  <p>Voor oude edities van het Handboek HTML5 en CSS zijn zipbestanden met voorbeeldcode beschikbaar.<br> Welke editie u bezit ziet u op het omslag van het boek. Codevoorbeelden voor de
    <a class="link-text" routerLink="/voorbeelden">zesde editie</a> zijn beschikbaar op deze website.</p>
  <ul>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_eßditie1_voorbeeldcode.zip">Eerste editie</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie2_voorbeeldcode.zip">Tweede editie</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie3_voorbeeldcode-geen-media.zip">Derde editie zonder media</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie3_voorbeeldcode.zip">Derde editie compleet</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie4_voorbeeldcode.zip">Vierde editie</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie5_voorbeeldcode.zip">Vijfde editie</a>
    </li>
  </ul>
</section>
