<section id="main-content">
  <h2 class="inleiding-kop">Downloads alle edities</h2>
  <p>Voor elke editie van het Handboek HTML5 en CSS is een zipbestand beschikbaar met voorbeeldcode.<br> Welke editie u bezit ziet u op het omslag van het boek.</p>
  <ul>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie1_voorbeeldcode.zip">Eerste editie</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie2_voorbeeldcode.zip">Tweede editie</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie3_voorbeeldcode-geen-media.zip">Derde editie zonder media</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie3_voorbeeldcode.zip">Derde editie compleet</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie4_voorbeeldcode.zip">Vierde editie</a>
    </li>
    <li>
      <a class="link-text" href="https://handboek-html-css.nl/download/Handboek_HTML5_CSS3_editie5_voorbeeldcode.zip">Vijfde editie</a>
    </li>
  </ul>
</section>
