<div class="content-wrapper" id="main-content">
  <article>
    <header>
      <h2>Vernieuwde website</h2>
      <p><time datetime="2023-11-30">30 november 2023</time></p>
    </header>
    <p>Vernieuwd? Ik zie er niks van! Schijn bedriegt. Op het eerste gezicht is er inderdaad weinig veranderd. Maar de hele codebasis is onderhanden genomen en daar hebt u hoop ik veel plezier van. De site moet namelijk soepeler werken.</p>
    <p>Wat hoogtepunten voor het dagelijks gebruik:</p>
    <ul>
      <li>De voorbeeldenpagina toont 1 hoofdstuk in plaats van de hele waslijst. U kiest een hoofdstuk met de keuzelijst.</li>
      <li>De opmaak van de voorbeelden staat volledig los van de rest van de site. De enige opmaak is die van de browserstylesheet en de CSS in het voorbeeld zelf.</li>
      <li>Behalve het eerste zijn alle voorbeelden standaard ingeklapt. Klik op de titelbalk van het voorbeeld voor in- en uitklappen.</li>
      <li>Het bewerken van de code is robuuster. Het werkt gewoon beter. Probeer het vooral uit, want het is een makkelijke manier om met de code te spelen.</li>
      <li>Meer voorbeelden, en nog meer voorbeelden onderweg.</li>
    </ul>
    <p>Op de todolijst staan bovenaan de voorbeelden voor de hoofdstukken 11, 12 en 13!</p>
    <p>Op- en aanmerkingen zijn altijd welkom, net als suggesties voor voorbeelden of andere verbeteringen. U kunt ze kwijt op <a class="link-text" href="mailto:handboek@peterdoolaard.nl">handboek@peterdoolaard.nl</a></p>
  </article>
  <article>
    <header>
      <h2>Nieuwe editie</h2>
      <p><time datetime="2022-04-30">30 april 2022</time></p>
    </header>
    <p>Eind april 2022 is de zesde editie uitgekomen van het
      <cite>Handboek HTML 5 en CSS</cite>. Deze website ondersteunt dat boek met aanvullende informatie en
      <a class="link-text" routerLink="voorbeelden">voorbeelden</a>. Alle voorbeeldcode, de HTML en de CSS, is bewerkbaar. Verander de code in de bewerkmodus, bekijk direct het resultaat en herstel de code als het een chaos is geworden.
    </p>
    <p>Sinds de eerste editie (2011) geeft het boek uitleg over vrijwel alle HTML-elementen en CSS-eigenschappen. Deze zesde editie is ruim tweemaal zo dik is als de eerste. Er gebeurt dan ook nogal wat, vooral op het gebied van CSS.</p>
    <p>De meest in het oog springende veranderingen in deze editie zijn de uitgebreide aandacht voor toegankelijkheid (<i>accessibility</i>) en uitleg van twee splinternieuwe CSS-eigenschappen:
      <i>container queries</i> en
      <i>cascade layers</i>. Geschrapt is de uitleg over floats als lay-outhulpmiddel, want daar zijn intussen betere technieken voor.
    </p>
    <p>Deze site is nog niet klaar. Als eerste worden de resterende voorbeelden en links toegevoegd. Daarna is er tijd voor meer verdiepende artikelen. Die kunnen ook gaan over onderwerpen die &uacute; aandraagt. Mail suggesties naar
      <a class="link-text" href="mailto:handboek@peterdoolaard.nl">handboek@peterdoolaard.nl</a>.</p>
  </article>
  <aside>
    <a
      #widgetAd
      class="widget"
      href="https://partner.bol.com/click/click?p=2&t=url&s=42237&f=TXL&url=https%3A%2F%2Fwww.bol.com%2Fnl%2Fnl%2Fp%2Fhandboek-handboek-html5-en-css%2F9300000070553907%2F&name=Handboek%20-%20Handboek%20HTML5%20en%20CSS"
    >
      <div class="widget-container">
        <div class="widget-image">
          <picture>
            <source srcset="/assets/images/9789463562645-groot.avif" type="image/avif">
            <source srcset="/assets/images/9789463562645-groot.webp" type="image/webp">
            <img alt="Omslag Handboek HTML 5 en CSS" height="402" src="/assets/images/9789463562645-300.jpg" width="300">
          </picture>
        </div>
        <div class="widget-text">
          <p>
            <span class="widget-text__title">Handboek HTML 5 en CSS<br>6e editie</span>
            <span>Peter Doolaard</span>
            <span>978-94-6356-264-5</span>
            <span>524 pagina's</span>
            <span>&euro; 44,99</span>
            <span>Van Duuren Media, 2022</span>
          </p>
        </div>
      </div>
    </a> <a
    [ngStyle]="{'display': widgetAd.computedStyleMap().get('display')?.toString() === 'none' ? 'inline-block' : 'none'}"
    class="widget"
    href="https://www.bol.com/nl/nl/p/handboek-handboek-html5-en-css/9300000070553907/"
  >
    <div class="widget-container">
      <div class="widget-image">
        <picture>
          <source srcset="/src/assets/images/9789463562645-groot.avif" type="image/avif">
          <source srcset="/src/assets/images/9789463562645-groot.webp" type="image/webp">
          <img alt="Omslag Handboek HTML 5 en CSS" height="402" loading="lazy" src="/src/assets/images/9789463562645-300.jpg" width="300">
        </picture>
      </div>
      <div class="widget-text">
        <p>
          <span class="widget-text__title">Handboek HTML 5 en CSS<br>6e editie</span>
          <span>Peter Doolaard</span>
          <span>978-94-6356-264-5</span>
          <span>524 pagina's</span>
          <span>&euro; 44,99</span>
          <span>Van Duuren Media, 2022</span>
        </p>
      </div>
    </div>
  </a>
  </aside>
</div>
