/* AdBlocker detects the bol.com tracking URL and sets display: none */
/* ngStyle detects the display value and in return shows the alternative widget with the clean URL */
/* [ngStyle]="{'display': widgetAd.computedStyleMap().get('display')?.toString() === 'none' ? 'inline-block' : 'none'}" */
aside {
  grid-column: 2;
}

.widget-container {
  box-shadow: var(--box-shadow-sharp);
  display: inline-block;
  margin-block: 2em;

  + .widget-container {
    display: none;
  }

  img {
    display: block;
  }
}

.widget-content {
  background: hsl(300deg 40% 90%);
  display: flex;
  flex-flow: column;

  @media (min-width: 600px) {
    flex-flow: row;
  }
}

.widget-text {
  display: flex;
  flex-flow: column;
  padding: 1em;

  &__title {
    font-weight: 500;
  }
}
